bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Library.API/logs
/Library.API/uploads
/.idea
Library.Infrastructure/Migrations
/global.json
/Library.API/Properties/launchSettings.json
/Library.API/Library.API.http
/Library.sln
/Library.sln.DotSettings.user